.form_khachthue {
  width: 60%;

  .diachi {
    display: flex;

    .danhsach_quanhuyen {
      display: flex;
      .danhsach_phuong {
        width: 100%;
        
      }
    }

    .danhsach_quanhuyen>* {
      flex: 1;
    }
  }

  .diachi>* {
    flex: 1;
  }
}