.img-detail {
  display: flex;
  margin: auto;
  width: 85%;
  height: 90%;
  .empty-container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    width: 100%;
    height: 20%;
    color: white;
    background-color: mediumaquamarine;
  }
}

.img-nha {
  width: 100%;
  height: 100%;
}