

.homepage-container {
    display: flex;
    .homepage-item_btn {
        margin: auto;
        flex: 1;
        width: 70%;
        .homepage-item_btn_styles {
            width: 100%;
        }
    }
}
